body {
    background-color: #ececec;
}

h1 {
    font-weight: bold;
    color: #464646;
}

.container {
    max-width: 1000px;
}

img {
    max-width: 100%;
}

.slider {
    width: 100%;
    height: 388px;
    position: relative;
    overflow: hidden;
    margin: 50px auto 0;
    -moz-box-shadow: 0 0 71px -13px rgba(0,0,0,0.75);
    box-shadow: 0 0 71px -13px rgba(0,0,0,0.75);
}

.slider li {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}